Repository ugns/bousetravels-hugo-site: changes, and which Mergify rules are due for each by the changed paths.
All: add python label if a Python file is modified, add terraform label if a Terraform file is modified, add github-actions label if a GitHub Actions file is modified, add blog label if a blog content is modified, add news label if a news content is modified, add authors label if an authors content is modified

Path conditions:
  add python label if a Python file is modified: any of: \.py$
  add terraform label if a Terraform file is modified: any of: \.tf$
  add github-actions label if a GitHub Actions file is modified: any of: \.github/workflows/
  add blog label if a blog content is modified: any of: ^content/blog/
  add news label if a news content is modified: any of: ^content/news/
  add authors label if an authors content is modified: any of: ^content/authors/

fix: update dependencies for hbstack/socials and twbs/bootstrap to latest versions
  go.sum
Due: none

feat: add initial Route 53 zone configuration in Terraform
  terraform/route53.tf
Due: add terraform label if a Terraform file is modified

feat: add ACM certificate module configuration in Terraform
  terraform/acm.tf
Due: add terraform label if a Terraform file is modified

feat: update ACM certificate reference in main.tf and add import block in acm.tf
  terraform/acm.tf
  terraform/main.tf
Due: add terraform label if a Terraform file is modified

feat: add custom rule for atproto-did path in Amplify app configuration
  terraform/main.tf
Due: add terraform label if a Terraform file is modified

feat: add authors section to multiple blog posts
  content/blog/2025-06-30-last-minute-4th.md
  content/blog/2025-07-07-beyond-the-crowds.md
  content/blog/2025-07-14-alaskan-summer-cruises.md
  content/blog/2025-07-21-national-parks.md
Due: add blog label if a blog content is modified

feat: remove unused import blocks from ACM and Route 53 configurations
  terraform/acm.tf
  terraform/data.tf
  terraform/route53.tf
Due: add terraform label if a Terraform file is modified

feat: add logging for seen RSS posts in Bluesky posting step
  .github/workflows/rss-to-socials.yml
Due: add github-actions label if a GitHub Actions file is modified

feat: add debug logging for seen RSS posts in Bluesky posting step
  .github/workflows/rss-to-socials.yml
Due: add github-actions label if a GitHub Actions file is modified

feat: add pre-commit hook for resizing JPG images and update README
  .pre-commit-config.yaml
  README.md
  assets/images/resize_jpgs.py
Due: add python label if a Python file is modified

fix: remove path restriction for pull requests in Terraform workflow
  .github/workflows/terraform.yml
Due: add github-actions label if a GitHub Actions file is modified

feat: add Amplify redeploy Lambda function and update Terraform configuration
  terraform/lambda/amplify_redeploy.py
  terraform/main.tf
Due: add python label if a Python file is modified, add terraform label if a Terraform file is modified

fix: ensure newline at end of file in renovate.json
  renovate.json
Due: none

fix: update output path for amplify redeploy lambda archive file
  terraform/main.tf
Due: add terraform label if a Terraform file is modified

fix: rename archive_file resource for clarity and consistency
  terraform/main.tf
Due: add terraform label if a Terraform file is modified

fix: update output path for amplify redeploy archive file
  terraform/main.tf
Due: add terraform label if a Terraform file is modified

feat: add blog post on last-minute summer getaways with Maine coastal images
  .pre-commit-config.yaml
  assets/images/maine-coastal.jpg
  content/blog/2025-07-28-one-last-summer-hurrah.md
Due: add blog label if a blog content is modified

feat: add Labor Day weekend travel guide blog post
  assets/images/lake-tahoe.jpg
  content/blog/2025-08-04-labor-day-weekend-guide.md
Due: add blog label if a blog content is modified

feat: add blog post on the benefits of shoulder season Mediterranean cruises
  content/blog/2025-08-11-shoulder-season-mediterranean-cruise.md
Due: add blog label if a blog content is modified

feat: add blog post on maximizing weekend getaways with planning tips and destination ideas
  content/blog/2025-08-18-art-of-weekend-getaway.md
Due: add blog label if a blog content is modified

ci(Mergify): configuration update
  .mergify.yml
Due: none

chore: Update terraform.yml
  .github/workflows/terraform.yml
Due: add github-actions label if a GitHub Actions file is modified

fix: add site description to header configuration
  config/_default/params.yaml
Due: none

fix: update hbstack/docs dependency to v0.24.0 and bootstrap to v5.3.7
  go.sum
Due: none

feat: add Copilot coding agent instructions for bousetravels.world
  .github/copilot-instructions.md
Due: none

feat: add articles on wine regions and European capitals for autumn travel inspiration
  content/blog/2025-09-02-harvest-wine-regions.md
  content/blog/2025-09-09-european-capitals-fall.md
  content/blog/2025-09-16-autumn-cruise-foliage.md
Due: add blog label if a blog content is modified

feat: add blog posts on unique Halloween celebrations, Oktoberfest, fall in the American Southwest, and themed cruises
  content/blog/2025-09-23-unique-halloween-celebrations.md
  content/blog/2025-09-30-germany-oktoberfest-guide.md
  content/blog/2025-10-07-fall-american-southwest.md
  content/blog/2025-10-14-themed-cruises-guide.md
Due: add blog label if a blog content is modified

feat: add UOR Specialist certificate to training resources
  content/gallery/training/UOR-Specialist-certificate.png
  content/gallery/training/index.md
Due: none

feat: update copyright notice and add registered seller of travel disclosure
  config/_default/hugo.yaml
  config/_default/params.yaml
  content/legal/registered-seller-of-travel.md
Due: none

feat: update bootstrap dependency to version 5.3.8
  go.sum
Due: none

feat: add contact page layout with booking functionality
  layouts/_default/contact.html
Due: none

fix: update TidyCal embed path to include meeting duration
  layouts/_default/contact.html
Due: none

feat: add partner support page with TidyCal embed
  content/partner/_index.md
  layouts/_default/partner.html
Due: none

feat: add guides for Thanksgiving travel and holiday deals
  content/blog/2025-10-21-thanksgiving-stress-free-guide.md
  content/blog/2025-10-28-best-american-cities-thanksgiving.md
  content/blog/2025-11-04-europe-christmas-markets-guide.md
  content/blog/2025-11-11-mastering-holiday-deals.md
Due: add blog label if a blog content is modified

feat: add blog posts for December holiday travel options and experiences
  content/blog/2025-11-18-sun-or-snow-best-december-holidays.md
  content/blog/2025-11-25-best-holiday-cruises.md
  content/blog/2025-12-02-world-new-years-celebrations.md
  content/blog/2025-12-09-twixmas-getaway.md
Due: add blog label if a blog content is modified

fix: update KaTeX and header dependencies to latest versions
  go.mod
  go.sum
Due: none

fix: update Content-Security-Policy to include new script sources and frame-src directive
  customHttp.yml
Due: none
