Repository ugns/bousetravels-hugo-site: changes, and which Mergify rules are due for each by the changed paths.
All: add python label if a Python file is modified, add terraform label if a Terraform file is modified, add github-actions label if a GitHub Actions file is modified, add blog label if a blog content is modified, add news label if a news content is modified, add authors label if an authors content is modified

.mergify.yml:

merge_queue:
  max_parallel_checks: 3
queue_rules:
  - name: default
    batch_size: 5
    batch_max_wait_time: 5 minutes
    queue_conditions:
      - or:
          - "#approved-reviews-by>=1"
          - author=jbouse
      - -draft
      - "#review-threads-unresolved = 0"
    merge_conditions:
      - check-success=terraform
      - check-success=AWS Amplify Console Web Preview
pull_request_rules:
  - name: delete head branch after merge but not if other PRs depend on it
    conditions:
      - merged
    actions:
      delete_head_branch:
        force: false
  - name: add python label if a Python file is modified
    conditions:
      - files ~= \.py$
    actions:
      label:
        add:
          - python
  - name: add terraform label if a Terraform file is modified
    conditions:
      - files ~= \.tf$
    actions:
      label:
        add:
          - terraform
  - name: add github-actions label if a GitHub Actions file is modified
    conditions:
      - files ~= \.github/workflows/
    actions:
      label:
        add:
          - github-actions
  - name: add blog label if a blog content is modified
    conditions:
      - files ~= ^content/blog/
    actions:
      label:
        add:
          - blog
  - name: add news label if a news content is modified
    conditions:
      - files ~= ^content/news/
    actions:
      label:
        add:
          - news
  - name: add authors label if an authors content is modified
    conditions:
      - files ~= ^content/authors/
    actions:
      label:
        add:
          - authors
  - name: add renovate label if the author is Renovate Bot
    conditions:
      - author = renovate[bot]
    actions:
      label:
        add:
          - renovate
  - name: add dependabot label if the author is Dependabot
    conditions:
      - author = dependabot[bot]
    actions:
      label:
        add:
          - dependabot
merge_protections:
  - name: Enforce conventional commit
    description: Make sure that we follow https://www.conventionalcommits.org/en/v1.0.0/
    if:
      - base = main
    success_conditions:
      - "title ~=
        ^(fix|feat|docs|style|refactor|perf|test|build|ci|chore|revert)(?:\\(.+\
        \\))?:"
  - name: Do not merge outdated PRs
    description: Make sure PRs are almost up to date before merging
    if:
      - base = main
    success_conditions:
      - "#commits-behind <= 10"

feat: add training resources and images for CLIA certifications and Disney Knowledge
  content/authors/jbouse/_index.md
  content/gallery/training/CLIA-CCC.jpg
  content/gallery/training/CollegeofDisneyKnowledge2026.jpg
  content/gallery/training/StateCruiseIndustry2025.jpg
  content/gallery/training/index.md
Due: add authors label if an authors content is modified

feat: add monthly index files for 2026
  content/archives/2026/01/_index.md
  content/archives/2026/02/_index.md
  content/archives/2026/03/_index.md
  content/archives/2026/04/_index.md
  content/archives/2026/05/_index.md
  content/archives/2026/06/_index.md
  content/archives/2026/07/_index.md
  content/archives/2026/08/_index.md
  content/archives/2026/09/_index.md
  content/archives/2026/10/_index.md
  content/archives/2026/11/_index.md
  content/archives/2026/12/_index.md
  content/archives/2026/_index.md
Due: none

feat: update application versions for Dart Sass, Go, and Hugo
  amplify.yml
Due: none

feat: update workbox and KaTeX dependencies in go.sum
  go.sum
Due: none

feat: add January 2026 blog posts and related images for cruise planning
  assets/images/blog/2026/01/alaska-glacier-cruise.jpg
  assets/images/blog/2026/01/cruise-planning-laptop.jpg
  assets/images/blog/2026/01/cruise-ship-sunrise.jpg
  assets/images/blog/2026/01/family-on-cruise-deck.jpg
  content/blog/2026-01-07-why-january-is-the-smartest-month-to-book-a-cruise.md
  content/blog/2026-01-14-cruise-wave-explained-and-why-certified-advisors-matter.md
  content/blog/2026-01-21-best-cruises-for-first-time-families.md
  content/blog/2026-01-28-bucket-list-cruises-to-start-planning-this-year.md
Due: add blog label if a blog content is modified

feat: update Python version to 3.13 and remove pip cache step
  .github/workflows/rss-to-socials.yml
Due: add github-actions label if a GitHub Actions file is modified

feat: add POST_AGE_LIMIT_DAYS environment variable for rss2socials
  .github/workflows/rss-to-socials.yml
Due: add github-actions label if a GitHub Actions file is modified

feat: remove POST_AGE_LIMIT_DAYS environment variable from rss2socials workflow
  .github/workflows/rss-to-socials.yml
Due: add github-actions label if a GitHub Actions file is modified

Change Python version from 3.14 to 3.13
  .github/workflows/rss-to-socials.yml
Due: add github-actions label if a GitHub Actions file is modified

feat(faq): update travel advisor FAQs for clarity and detail
  data/faq/travel.yaml
  go.sum
Due: none

feat(author): enhance description with certification details
  content/authors/jbouse/_index.md
Due: add authors label if an authors content is modified

fix(deps): update blog and hugopress module versions to v0.42.2 and v0.5.2 respectively
  go.sum
Due: none

feat(gallery): add Dream Maker Certificate image and update index
  content/gallery/training/Dream_Maker_Certificate.png
  content/gallery/training/index.md
Due: none

chore(deps): update go.sum and add new blog images for 2026
  assets/images/blog/2026/05/cruise-ship-selection.jpg
  assets/images/blog/2026/05/cruise-travel-insurance.jpg
  assets/images/blog/2026/05/multigenerational-cruise-family.jpg
  assets/images/blog/2026/06/alaska-cruise-vs-cruisetour.jpg
  assets/images/blog/2026/06/first-cruise-day-tips.jpg
  assets/images/blog/2026/06/last-minute-cruise-booking.jpg
  assets/images/blog/2026/06/summer-cruise-itineraries.jpg
  assets/images/blog/2026/07/clia-certified-cruise-counselor.jpg
  assets/images/blog/2026/07/cruise-planning-mistakes.jpg
  assets/images/blog/2026/07/fall-cruise-couple.jpg
  assets/images/blog/2026/07/fall-cruise-foliage.jpg
  assets/images/blog/2026/08/adults-only-vs-family-cruise.jpg
  assets/images/blog/2026/08/celebration-cruise-anniversary.jpg
  assets/images/blog/2026/08/holiday-cruise-booking.jpg
  assets/images/blog/2026/08/msc-cruise-ship.jpg
  go.sum
Due: none

Update to use Hugo 0.162.1
  amplify.yml
  config/_default/hugo.yaml
  config/_default/languages.yaml
  go.sum
  layouts/partials/giscus/repo-id.html
Due: none

feat: add blog posts for weeks 33-48 (Sep-Dec 2026)
  assets/images/blog/2026/09/cruise-pricing-strategy.jpg
  assets/images/blog/2026/09/europe-fall-cruise.jpg
  assets/images/blog/2026/09/september-cruise-value.jpg
  assets/images/blog/2026/09/solo-cruise-travelers.jpg
  assets/images/blog/2026/10/cruise-trends-next-year.jpg
  assets/images/blog/2026/10/holiday-cruise-planning.jpg
  assets/images/blog/2026/10/holiday-group-cruise.jpg
  assets/images/blog/2026/10/winter-escape-cruise.jpg
  assets/images/blog/2026/11/black-friday-cruise-deals.jpg
  assets/images/blog/2026/11/caribbean-cruise-routes.jpg
  assets/images/blog/2026/11/family-cruise-vs-all-inclusive.jpg
  assets/images/blog/2026/11/new-years-eve-cruise.jpg
  assets/images/blog/2026/12/january-cruise-booking.jpg
  assets/images/blog/2026/12/stress-free-cruise-planning.jpg
  assets/images/blog/2026/12/travel-gift.jpg
  assets/images/blog/2026/12/year-in-review-cruises.jpg
  content/blog/2026-09-02-why-september-cruising-offers-the-best-value.md
  content/blog/2026-09-09-best-cruises-for-solo-travelers.md
  content/blog/2026-09-16-europe-in-the-fall-why-it-beats-summer.md
  content/blog/2026-09-23-cheapest-isnt-always-best-how-cruise-pricing-really-works.md
  content/blog/2026-10-07-what-you-need-to-know-before-booking-a-holiday-cruise.md
  content/blog/2026-10-14-best-warm-weather-cruises-for-winter-escapes.md
  content/blog/2026-10-21-why-cruises-are-ideal-for-holiday-group-travel.md
  content/blog/2026-10-28-cruise-trends-youll-see-everywhere-next-year.md
  content/blog/2026-11-04-the-truth-about-black-friday-cruise-deals.md
  content/blog/2026-11-11-caribbean-cruise-routes-explained.md
  content/blog/2026-11-18-is-a-cruise-or-all-inclusive-better-for-your-family.md
  content/blog/2026-11-25-what-to-expect-on-a-new-years-eve-cruise.md
  content/blog/2026-12-02-why-travel-is-the-best-gift-you-can-give.md
  content/blog/2026-12-09-how-to-plan-a-stress-free-cruise-vacation.md
  content/blog/2026-12-16-cruises-to-book-in-january-before-prices-rise.md
  content/blog/2026-12-23-favorite-trips-and-trends-from-this-year.md
Due: add blog label if a blog content is modified

Update to use Hugo 0.165.0.
  amplify.yml
  config/_default/languages.yaml
  config/production/hugo.yaml
  go.mod
  go.sum
Due: none

fix: alias Fuse v7.5.0 ESM bundle for Hugo search
  config/_default/module.yaml
  go.mod
  go.sum
Due: none

feat(gallery): add Accessible Cruise Travel image and update index with new resource
  content/gallery/training/AccessibleCruiseTravel.png
  content/gallery/training/index.md
Due: none
